<body>
  <app-header></app-header>
  <main>
    <h1 class="lg-heading">
      First Name <span style="color:rgb(240, 80, 106)">Last name</span>
    </h1>
    <br>
    <h2 class="sm-heading">
      Software Engineer, Web Developer...
    </h2>
    <div style="text-align: center;">
    <div class="icons">
      <a href="https://www.google.com" target="_blank">
        <i class="fab fa-twitter fa-4x"></i>
      </a>
    </div>
    <div class="icons">
      <a href="https://www.google.com" target="_blank">
        <i class="fab fa-linkedin fa-4x"></i>
      </a>
    </div>
    <div class="icons">
      <a href="https://www.google.com" target="_blank">
        <i class="fab fa-github fa-4x"></i>
      </a>
    </div>
    </div>
  </main>
  <app-footer></app-footer>
</body>
